@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:wght@300;400;500&family=Poppins:wght@300;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #ffffff;
    font-family: 'Open Sans', sans-serif;
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}

li {
    list-style-type: none;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 140px;
    margin-bottom: 5px;
}

         /* when scroll HEADER will get this css */
.sticky{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fcfcfc;
    box-shadow: 0 5px 5px rgba(0 0 0/5%);
    border-bottom: 1px solid #dbdbdb09;
    z-index: 9999 !important;
    transition: 1%;
    padding: 8px 140px;
}   


header .logo  {
    width: 155px;
}

header .logo img {
    width: 100%;
}

header .menubar ul{
    display: flex;
}

header .menubar ul li {
    padding: 0 30px;   /**/
}

header .menubar ul li a{
    color: #272727;
    font-weight: 600;
    letter-spacing: 0.5px;
    transition: 0.2s;
    font-size: 30px; /*,................................................*/
}

header .menubar ul li a:hover{
    color: #ffd80a;
}

header .right {
    display: flex;
    align-items: center;
    padding-right: 40px;
}

header .right i {
    font-size: 26px;
    color: #272727;
    margin-left: 20px;
}

header .right .rel {
    position: relative;
}

header .right .rel .number{
    position: absolute;
    bottom: 0;
    right: 17px;
    background-color: black;
    color: white;
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 10px;
}

header .right .rel .total {
    position: absolute;
    color: #272727;
    font-weight: 600;
    top: 2px;
    padding-left: 5px;
}

.banner img {
    width: 100%;
    height: 75vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.three-round{
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding-bottom: 20px;
}

.three-round .o_item{
    width: 220px;
    height: 255px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    color: #ffffff;
}

.three-round .o_item svg{
    position: absolute;
}

.three-round .o_item i {
    z-index: 99;
    font-size: 32px;
}

.three-round .o_item h3{
    z-index: 99;
    text-transform: uppercase;
    font-size: 19px;
    font-weight: 500;
    line-height: 1.1;
    padding-top: 12px;
}

        /* ... */

header .taikhoan{
    display: flex;
    float: right;
    margin-right: -135px;
}
header .taikhoan ul{
    display: flex;
}
header .taikhoan ul li {
    padding: 0 7px;
}

header .taikhoan ul li a{
    color: #272727;
    font-weight: 600;
    letter-spacing: 0.5px;
    transition: 0.2s;
}

header .taikhoan ul li a:hover{
    color: #ffd80a;
}
        /* ảnh chữ banner */
.banner{
    background-image: url(../image/banner.png);
    height: 75vh;
    width: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.bio{
    width: 33%;
    height: 30%;
    position: absolute;
    top: 0;
    left: 3%;
    bottom: -15px;
    margin: auto;
}
.banner.bio p{
    font-size: 15px;
    font-weight: 600px;
    padding-bottom: 25px;
    letter-spacing: 2px;
    color: #272727;
}
.banner.bio h1{
    font-size: 58px;
    line-height: 1.1;
    color: #272727;
}
        /* shop by category  */
#shop_category{
    padding-top: 15px;
    margin-bottom: 13px;
}
.heading{
    text-align: center;
}
.heading h3{
    font-size: 27px;
    margin-bottom: 13px;
    color: #272727;
}
.paw{
    text-align: center;
    position: relative;
    display: block;
    width: 20%;
    margin: auto;
    font-size: 19px;
}
.paw::before{
    content: '';
    width: 100px;
    height: 1px;
    background-color: #000;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}
.paw::after{
    content: '';
    width: 100px;
    height: 1px;
    background-color: #000;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}
.shop_category .food{
    display: flex;
    /* justify-content: space-between; */    align-items: center;

    padding: 0px 0;  /*...............................................................*/
    flex-wrap: wrap;
}
.shop_category .food .food_items{
    width: 30%;
    background-color: #fff;
    box-shadow: 0 0 16px rgba( 0 0 0 / 5%);
    border-radius: 12px;
    overflow: hidden;
    display: block;
    padding: 0px 20px; 
    margin: 0px 20px;
    justify-content: space-between;
}
.shop_category .food .food_items .img{
    width: 450px;
}
.shop_category .food .food_items .img img{
    width: 100%;
}
.food_details{
    padding-left: 25px;
    padding-top: 15px;
}
.food_details .review {
    padding-left: 25px;
    padding-top: 15px;
}
.food_details .review i{
    color: #ffd80a;
}
.food_details .review h4 {
    font-size: 18px;
    padding: 10px 0;
}
.food_details .review h3{
    font-size: 17px;
}
.food_details .review p{
    font-size: 15px;
    color: gray;
    line-height: 1.7;
    padding: 16px 0;
    padding-right: 15px;
}
button{
    padding: 15px;
    background: #ffd80a;
    border: none;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 15px;
    border-radius: 3px;
    transition: 0.3%;
    cursor: pointer;
}
button:hover{
    background: #000;
    color: #fff;
}

        /* shop by category */
.shop_category .pet_list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 50px;
}
.shop_category .pet_list .single_pet{
    width: 20%;
    text-align: center;
}
.single_pet .img{
    width: 100%;
    position: relative;
}
.single_pet .img img{
    width: 98%;
    z-index: 9;
    cursor: pointer;
    transition: 0.5; /* dí chuột vào hình phóng to */
}
.single_pet .img svg{
    position: absolute;
    top: -15px;
    left: -20px;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 115%;
    z-index: -9;
}
.single_pet h4{
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.4s;
}
.single_pet h4:hover{
    color: #ffd80a;
}
        /* dí chuột vào hình phóng to */
.single_pet .img img:hover{
    scale: 1.1;
}

        /* SECOND BANNER( SHOP NOW) */
.second_banner{
    width: 100%;
    height: 70vh;
    background-image: url(../img/shopnow_banner.webp);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
}
.second_banner .txt{
    position: absolute;
    width: 30%;
    height: 200px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;

}
.second_banner .tst{
    color: #ffffff;
    font-size: 54px;
    letter-spacing: 1px;
    line-height: 1;
    padding: 15px 0;
}

        /* FEATURED PRODUCTS  */
#feature_product{
    padding: 70px 0;
}
.feature_product{
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
}
.feature_product .fp_items{
    background-color: #fff;
    box-shadow: 0 0 16px rgba(0 0 0 /5%);
    border-radius: 15px;
    overflow: hidden;
    width: 23%;
}
.feature_product .fp_items .img{
    width: 90%;
    height: 70%;
    margin: auto;
    position: relative;
    cursor: pointer;
}
.feature_product .fp_items .img img{
    width: 100%;
    height: 100%;
    transform: 0.4s;
}
.feature_product .fp_items .img img:hover{
    scale: 0.9;
}
.feature_product .fp_items .img:hover .hidden_icons{
    right: 0;
}
.feature_product .fp_items .img .tag{
    position: absolute;
    top: -10px;
    left: -6px;
    width: 50px;
    height: 50px;
    background-color: #57aa5e;
    border-radius: 50%;
    font-size: 13px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}
.hidden_icons{
    display: flex;
    flex-direction: column;
    height: 50px;
    position: absolute;
    top: 17px;
    right: -150px;
    transition: 0.5s;
}
.hidden_icons i{
    width: 30px;
    height: 30px;
    padding: 15px;
    background-color: #8080801d;
    text-align: center;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}
.hidden_icons i:hover{
    background-color: #80808039;
}
.f_items .fp_details{
    text-align: center;
    padding-bottom: 30px;
}
.f_items .fp_details .reviews{
    color: #ffd80a;
    font-size: 14px;
}
.fp_items .fp_details .sub_category{
    color: gray;
    font-size: 14px;
    font-weight: lighter;
}
.fp_items .fp_details{
    border-top: 1px solid #9696961b;
}
.fp_items .fp_details h6{
    font-size: 16px;
    font-weight: 500;
    padding: 8px 0;
}
.fp_items .fp_details .price del{
    font-size: 14px;
}
.fp_items .fp_details .price span{
    font-size: 17px;
}

        /* 2BANNERS IN A ROW */

.two_banner{
    display: flex;
    justify-content: space-between;
}
.two_banner .img{
    padding: 28px;
    position: relative;
}
.two_banner .img{
    width: 100%;
}
.two_banner .img .txt{
    position: absolute;
    top: -10px;
    left: 15%;
    bottom: 0;
    margin: auto;
    width: 50%;
    height: 100px;
}
.two_banner .img .txt h5{
    font-size: 24px;
    font-weight: lighter;
    padding-bottom: 30px;   
}
.two_banner .img .txt h4{
    font-size: 35px;
    line-height: 1.1;
    color: #272727;
    font-weight: bolder;
}
.two_banner .img:last-child{
    color: #ffffff;
}
.two_banner .img:last-child h4{
    color: #ffffff;
}

    /* LATEST PRODUCTS */

.latest_pro .latest_product{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.latest_pro .latest_product .lp_items{
    width: 30%; 
    overflow: hidden;
    box-shadow: 0 0 16px rgba( 0 0 0 / 5%);
    background-color: #ffffff;
    display: flex;
    margin: 12px;
    border-radius: 12px;

}
.latest_pro .latest_product .lp_items .img{
    cursor: pointer;
    width: 40%;
    transition: 0.3%;
    position: relative;
    overflow: hidden;
}
.latest_pro .latest_product .lp_items .img img{
    width: 100%;
}
.latest_pro .latest_product .lp_items .img .tag{
    width: 27px;
    height: 27px;
    background-color: #57aa5e;
    font-size: 11px;
    font-weight: 600;
    color: #ffffff;
    padding: 15px;
    position: absolute;
    bottom: 15px;
    left: 15px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.latest_pro .latest_product .lp_items .hidden_icons{
    position: absolute;
    right: -55px;
    top: 10px;
    cursor: pointer;
}
.latest_pro .latest_product .lp_items .img:hover .hidden_icons{
    right: 0;
}
.latest_pro .latest_product .lp_items .fp_details{
    width: 60px;
    padding-left: 15px;
    padding-top: 30px;
}
.latest_pro .latest_product .lp_items .fp_details h4{
    font-size: 15px;
    color: #272727;
    padding-right: 15px;
    letter-spacing: 0.4%;
    font-weight: 500;
}
.latest_pro .latest_product .lp_items .fp_details .review{
    color: #ffd80a;
    font-size: 15px;
}

.latest_pro .latest_product .lp_items .fp_details .price{
    padding: 14px 0;
    font-size: 16px;
    font-weight: 500;
    color: #272727;
}
.latest_pro .latest_product .lp_items .fp_details .price del{
    font-size: 13px;
}
        /* BIG FOOD BANNER */
.bf_banner{
    width: 100%;
    height: 96vh;
    background-image: url('../img/big_banner.webp');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin: 38px 0;
}
.bf_banner .bf_food{
    width: 38%;
    height: 70%;
    position: absolute;
    left: 0;
    right: 0;
    top: 100px;
     margin: auto;
    text-align: center;
}
.bf_banner .bf_food img{
    width: 100%;
    height: 100%;
}
.bf_banner .left_txt{
    position: absolute;
    width: 20%;
    height: 30vh;
    left: 9%;
    top: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.bf_banner .right_txt{
    position: absolute;
    width: 20%;
    height: 30vh;
    right: 9%;
    top: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.bf_banner h4{
    padding: 15px 0;
    color: #272727;
    font-size: 22px;
}
.bf_banner p{
    font-size: 15px;
    color: #272727;
}

        /* FOOTER START HERE */
.footer_top{
    display: flex;
    justify-content: space-between;
}
.footer_top .img{
    width: 130px;
}
.footer_top .img img{
    width: 100%;
    cursor: pointer;
}
.footer_top .menu{
    padding-left: 10%;
}
.footer_top .menu ul{
    display: flex;
}
.footer_top .menu ul li{
padding: 0 10px;
}
.footer_top .menu ul li a{
    color: #272727;
    font-size: 14px;
    transition: 0.4s;
}
.footer_top .menu ul li a:hover{
    color: #ffd80a;
}
.footer_top .icons i{
    padding: 0 15px;
    cursor: pointer;
    transition: 0.4s;
}
.footer_top .icons i:hover{
    color: #ffd80a;
}
.footer_top .icons i:last-child{
    padding-right: 0;
}
.footer_bottom{
    background-color: #f7f7f7;
}
.footer_bottom .payment_link{
    width: 70%;
    margin: auto;
    text-align: center;
}
.footer_bottom .payment_link i{
    padding: 15px;
    font-size: 28px;
    cursor: pointer;
    transition: 0.4s;
}
.footer_bottom .payment_link i:hover{
    color: #ffd80a;
    text-align: center;
    padding: 10px 0;
    font-size: 13px;

}






